
.blog-content {
    display: flex;
    flex-direction: column;
    padding:24px;
    background-color: white;
    border-radius: 10px;
}

.blog-headings {
    margin: 0 0 24px 0;
}

.blog-hero-image {
    margin: 24px 0;
    height: auto;
}

.blog-quote{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 24px;
    color: var(--gray);
    border-left: var(--secondary) solid 2px;
    max-width: 600px
}

.blog-quotation-mark {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    line-height: 32px;
}


@media screen and (min-width: 600px) and (max-width: 768px) {
    .blog-content {
        padding:56px 88px;
    }
    
    .blog-quote{
        font-size: 20px;
        line-height: 28px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .blog-content {
        padding:56px 88px;
    }

    .blog-quote{
        font-size: 20px;
        line-height: 28px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .blog-content {
        grid-column: 1 / 10;
        padding:56px 88px;
    }

    .blog-quote{
        font-size: 20px;
        line-height: 28px;
    }  
}

@media screen and (min-width: 1200px) {

    .blog-content {
        grid-column: 1 / 10;
        padding:56px 88px;
    }
    
    .blog-quote{
        font-size: 24px;
        line-height: 32px;
        padding: 24px 40px;
    }

}