.footer-container {
    Max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-container .primary-button {
    margin-top: 0;
}

.social-link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-link-wrapper h3{
    margin-bottom: 0;
}

.social-link {
    margin-left: 16px;
}

.social-link-icon {
    width: 24px;
}