.footer-container {
    Max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 56px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.social-link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-link-wrapper .sub{
    margin-bottom: 0;
}

.social-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--accent);
    border: var(--gray-light) solid 1px;
    border-radius: 50px;
    padding: 8px;
    margin-left: 16px;
}

.social-link:hover {
    border: var(--secondary) solid 1px;
}

.social-link-icon {
    width: 16px;
}

@media screen and (min-width: 600px) and (max-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 992px) {

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

}

@media screen and (min-width: 1200px) {
    
}