.header-container {
    Max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-container .signup-wrapper {
    display: none;
}

.header-container .head {
    margin: 0;
}


@media screen and (min-width: 600px) and (max-width: 768px) {
    .header-container {
        padding-top: 24px;
        padding-bottom: 0px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .header-container .primary-button {
        display: flex;
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .header-container {
        padding-top: 24px;
        padding-bottom: 0px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .header-container .primary-button {
        display: flex;
        margin-top: 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .header-container {
        padding-top: 40px;
        padding-bottom: 8px;
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: space-between;
    }

    .header-container .signup-wrapper {
        display: flex;
    }

    .header-container .primary-button {
        display: flex;
        margin-top: 0;
    }
}

@media screen and (min-width: 1200px) {
    .header-container {
        padding-top: 56px;
        padding-bottom: 24px;
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: space-between;
    }

    .header-container .signup-wrapper {
        display: flex;
    }

    .header-container .primary-button {
        display: flex;
        margin-top: 0;
    }
}