@import "./styleguide.css";
@import "./header.css";
@import "./footer.css";

.grid-set-up {
    display: grid;
    grid-template: auto / repeat(12, 1fr);
    grid-gap: 32px;
}


.main-content {
    grid-column: 1 / 10;
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    grid-gap: 32px;
}

.side-bar {
    grid-column: 10 / 13;
    display: flex;
    flex-direction: column;
    padding:24px;
    background-color: rgb(255,255,255,.2);
    align-content: flex-start;
    border-radius: 10px;

}

.blog-card {
    background-color: white;
    display: Flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.blog-content-wrapper {
    padding: 32px;
    display: Flex;
    flex-direction: column;
}

.blog-headline{
    background-color: white;
    display: Flex;
    flex-direction: row;
    grid-area: 1/1/1/4;
    align-items: center;
}

.blog-card-image {
    max-width: 100%;
}

.blog-card-image-headline {
    max-width: 50%;
}

.blog-tag-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 8px 0;
}

.author-bio {
    font-size: 14px;
    line-height: 18px;
}

.profile-image {
    border-radius: 200px;
    width: 100px;
    border: rgb(255,255,255,.5) solid 10px;
    margin: 0 0 16px 0;
}
