@import "./styleguide.css";


.split {
    display: grid;
    grid-template: auto / 10fr 2fr;
    grid-gap: 32px;
}


.blog-cards {
    display: grid;
    grid-template: auto / repeat(1fr 3);
    grid-gap: 32px;
}

.blog-card {
    background-color: white;
    display: Flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
}

.blog-content-wrapper {
    padding: 32px;
    display: Flex;
    flex-direction: column;
}

.blog-headline{
    background-color: white;
    display: Flex;
    flex-direction: row;
    grid-area: 1/1/1/4;
}

.blog-card-image {
    max-width: 100%;
}

.blog-card-image-headline {
    max-width: 50%;
}

/* .author-name::after {
    content: "·";
    margin: 0px 8px;
} */

.tag-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 8px;
}
