.blog-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 0 rgb(0,0,0,.05);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: .5s;
}

.blog-card:hover {
    margin-top: -2px;
    margin-bottom: 2px;
    box-shadow: 2px 2px 15px 0 rgb(0,0,0,.05);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: .5s;
}

.blog-card-image {
    display: none;
    max-width: 100%;
    height: auto;
}

.blog-headline{
    display: flex;
    flex-direction: column;
}

.blog-card-image-headline {
    display: none;
}

.blog-content-wrapper {
    flex-direction: column;
    padding: 24px;
}

.blog-tag-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 8px 0;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .blog-card-image {
        display: block;
    }

    .blog-headline{
        grid-area: 1/1/1/3;
    }

    .blog-card-image-headline {
        display: block;
        background-image: url("../img/blog-image-1.jpg");
        background-size: cover;
        width: 50%;
        height: 100%;
    }

    .blog-content-wrapper {
        padding: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .blog-card-image {
        display: block;
    }

    .blog-headline{
        flex-direction: row;
        grid-area: 1/1/1/4;
        align-items: center;
    }

    .blog-card-image-headline {
        display: block;
        background-image: url("../img/blog-image-1.jpg");
        background-size: cover;
        width: 50%;
        height: 100%;
    }

    .blog-content-wrapper {
        padding: 32px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .blog-card-image {
        display: block;
    }

    .blog-headline{
        flex-direction: row;
        grid-area: 1/1/1/3;
        align-items: center;
    }

    .blog-card-image-headline {
        display: block;
        background-image: url("../img/blog-image-1.jpg");
        background-size: cover;
        max-width: 50%;
        height: auto;
    }
    
    .blog-content-wrapper {
        padding: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .blog-card-image {
        display: block;
    }
    
    .blog-headline{
        flex-direction: row;
        grid-area: 1/1/1/4;
        align-items: center;
    }

    .blog-card-image-headline {
        display: block;
        background-image: url("../img/blog-image-1.jpg");
        background-size: cover;
        width: 50%;
        height: 100%;
    }

    .blog-content-wrapper {
        padding: 32px;
    }
}
