.author-bio {
    font-size: 14px;
    line-height: 18px;
}

.profile-image {
    border-radius: 200px;
    width: 100px;
    height: auto;
    border: rgb(255,255,255,.5) solid 10px;
    margin: 0 0 16px 0;
}

