:root {
    --primary: #946251;
    --secondary: #2a5366;
    --secondary-dark: #1f3d4d;
    --secondary-light: #4c7487;
    --accent: #f2f6f7;
    --gray-dark: #444;
    --gray: #666;
    --gray-light: #ddd;
    --gray-lighter: #ededed;
    --gray-lightest: #f7f4ed;

}


body {
    background-color: var(--gray-lightest);
    margin: 0;
    padding: 0;
}


p {
    margin: 0 0 24px 0;
    padding: 0;
    color: var(--gray-dark);
}


a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color:var(--secondary);
}


img {
    width: 100%;
    height: 100%;
}


input {
    font-family: 'Quicksand', sans-serif;
}


.container {
    Max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
}


.button-wrapper {
    justify-content: center;
    display: flex;
}


.primary-button{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: white;
    background-color: var(--secondary);
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 24px;
    border: var(--secondary) solid 1px;
    border-radius: 50px;
}


.primary-button:hover {
    border: var(--secondary-dark) solid 1px;
    background-color: var(--secondary-dark);
}


.primary-inverse-button{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: white;
    background-color: var(--secondary-dark);
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 24px;
    border: var(--gray-light) solid 1px;
    border-radius: 50px;
}


.primary-inverse-button:hover {
    border: white solid 1px;
    background-color: var(--secondary-dark);
    color: white;
}


.secondary-button{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: var(--secondary);
    background-color: transparent;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 24px;
    border: var(--secondary) solid 1px;
    border-radius: 50px;
}


.secondary-button:hover {
    border: var(--secondary-dark) solid 1px;
    background-color: var(--secondary-dark);
    color: white;
}


.primary-link {
    color: var(--primary);
    padding: 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.lead {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    color: var(--gray-dark);
    margin: 0 0 16px 0;
}


.head {
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    color: var(--gray-dark);
    margin: 0 0 24px 0;
}


.sub {
    font-family: 'DM Serif Display', serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    color: var(--gray-dark);
    margin: 0 0 16px 0;
}


.flag {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: var(--gray);
    margin: 0 0 16px 0;
    
}


.brow {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--gray);
    margin: 0 0 8px 0;
    
}


.font-larger {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--gray-dark);
    max-width: 900px
}


.font-base {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--gray-dark);
    max-width: 600px
}


.font-small {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: var(--gray-dark);
    max-width: 400px
}


.tag {
    color: var(--gray-dark);
    background-color: var(--accent);
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    border: var(--gray-light) solid 1px;
    border-radius: 50px;
    margin: 0 8px 8px 0;
    padding: 8px 16px;
}


.tag:hover {
    border: var(--secondary) solid 1px;
}


.input-field {
    background-color: white;
    border: white;
    color: var(--gray-dark);
    border-radius: 50px;
    padding: 10px 16px;
}


.divider {
    border-top: 1px solid var(--gray-light);
    margin: 32px 0 32px 0;
}


@media screen and (max-width: 600px) {

    .container {
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 1rem;
        padding-right: 1rem;
    }


    .lead {
        font-size: 32px;
        line-height: 40px;
    }
    

    .head {
        font-size: 28px;
        line-height: 32px;
    }
    

    .sub {
        font-size: 20px;
        line-height: 24px;
    }
    

    .flag {
        font-size: 16px;
        line-height: 24px;
    }
    

    .brow {
        font-size: 14px;
        line-height: 21px;
        
    }

}